---
layout: default
cover: 'img/festivalstage.jpg'
---



<div class="home">

    {% capture currentDate %}{{'now' | date: '%s' }}{% endcapture %}

    <div class="clearfix wrapper">

      <div class="intro-div">
        <h1 class="post-title">Jesus Died For Me</h1>

        <p>My name is Ian Stanley and I live in Reading in the UK.</p>

        <p>I am part of  a group of born again Christians who live in Reading, Berkshire who believe in the Great Commission to spread the gospel whereever we find ourselves.</p>
        <p>We can be reguarly found on the streets of Reading and further afield doing outreach and other ministries.</p>

        
        <br>

        <h2 class="post-subtitle">The Turning</h2>
        <p>I am also part of the team for a programme called <a href="http://theturning.eu">The Turning</a> which is a group of Christians
          initially from The Gate, Reading Family Church, St James and Vineyard in Reading (and now from other churches further afield) who run
          regular soaking evenings and outreach training in Reading and beyond.

          <p>We have embarked on a programme of soaking and training churches around the UK and abroad.
            Dozens of churches contacted <a href="http://www.thegate.uk.com">The Gate</a> following
       the <a href="https://www.premier.org.uk/News/UK/Unprecedented-openness-to-the-gospel-reported-in-Reading-as-1-200-make-commitments-to-Christ">
          tremendous outpouring</a> that started in May 2016 in Reading when thousands started to turn to Christ.
         </p>

         <p>In response a team wasa setup to take the training to other cities in the UK and abroad. This team has had dozens of
           towns and cities make contact. Many of the events listed below are the current commitments that have been firmly scheduled.</p>

      </div>

<hr>

      <h1 class="event-time-heading fix-top">Future {% if site.event_label %} {{site.event_label}} {% else %} Events {% endif %} </h1>

      {% for post in site.posts reversed %}

        {% capture blogDate %}{{post.date | date: '%s' }}{% endcapture %}

        {% if blogDate >= currentDate %}

          <a href="{{ post.url | prepend: site.baseurl }}">
            {% if post.cover %}
            <div class="event-sqaure" style="background-image:url({{post.cover}});">
            {% else %}
            <div class="event-sqaure" style="background-image:url(http://evento.io/img/cover.jpg);">
            {% endif %}
              <h2>{{ post.title }} <span>{{ post.date | date: "%b %-d, %Y" }}</span></h2>
               <div class='event-square-overlay'></div>
            </div>

          </a>

        {% endif %}

      {% endfor %}
    </div>
    <div class="clearfix wrapper">

      <h1 class="event-time-heading">Past {% if site.event_label %} {{site.event_label}} {% else %} Events {% endif %} </h1>
      {% for post in site.posts %}

        {% capture blogDate %}{{post.date | date: '%s' }}{% endcapture %}

        {% if blogDate < currentDate %}

          <a href="{{ post.url | prepend: site.baseurl }}">
            {% if post.cover %}
            <div class="event-sqaure" style="background-image:url({{post.cover}});">
            {% else %}
            <div class="event-sqaure" style="background-image:url(http://app-beacon.com/wp-content/uploads/2015/05/events.jpg);">
            {% endif %}
              <h2>{{ post.title }} <span>{{ post.date | date: "%b %-d, %Y" }}</span></h2>
              <div class='event-square-overlay'></div>
            </div>

          </a>

        {% endif %}

      {% endfor %}
    </div>

</div>
